<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!--data tables-->
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="//cdn.datatables.net/select/1.3.0/css/select.dataTables.min.css">

    <!--fonts-->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Allerta+Stencil">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="static/styles/base.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="shortcut icon" type="icon/ico" href="static/favicon.ico">
</head>

<body>

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <!--data tables-->
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>
    <script src="//cdn.datatables.net/plug-ins/1.10.16/sorting/datetime-moment.js"></script>
    <script src="//cdn.datatables.net/select/1.3.0/js/dataTables.select.min.js"></script>
    <script src="//cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js"></script>

    <!-- navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark color-override">
        <div class="container">
            <a href="/">
                <img src="static/img/logo_header.svg" alt="">
            </a>
            <button class="navbar-toggler button-color-override" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
                <img src="static/img/toggle_icon.svg" alt="">
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link color-override" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link color-override" href="/about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link color-override" href="/bot">Discord bot</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link color-override" href="https://github.com/deeptownadmintools">Source</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link color-override" href="/guilds">Guilds</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link color-override dropdown-toggle" role="button" id="dropdownFav"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Favourite</a>
                        <div id="fav" class="dropdown-menu" aria-labelledby="dropdownMenuButton">

                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>




    <!--body-->
    <div class="container my-container color-container">
        <div class="row">
            <div class="col" style="padding-left:15%;padding-right:15%;">
                <p>
                    Due to financial limitations this bot can not be made public. You can access it on Deep Town discord
                    admin server.
                    If you would like to use this bot on your private server it can be arranged, so feel free to contact
                    me on the email or on discord.
                </p>
            </div>
        </div>
    </div>

    <script src="/static/scripts/base.js">
        $(document).ready(function () {
            loadFavourites();
        });
    </script>


</body>

</html>